.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-100{
    width: 100%;
}
.mx-100{
    margin:0 100px 0 100px;
}
.px-100{
    padding:0 100px 0 100px;
}
.gray-title{
    font-weight: 500;
    font-size: 14px;
    color: #888693;
}
.secod-title{
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
}
.icon-calendar-date{
    font-size: 12px;
    background: linear-gradient(180deg, #105363 0%, #27849A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.word-spacing-4{
    word-spacing: 4px;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}

.p-30{
    padding: 30px;
}
.section-titre{
    font-weight: 700;
    font-size: 24px;
    color: #4F4F4F;
    .border-right{
        display: inline-block;
        width: 5px;
        height: 40px;
        background-image: linear-gradient(180deg, #EA467D 0%, #9B0D3D 100%);

        border-radius: 12px;
    }
    .border-right-orange{
        background-image: linear-gradient(135deg, #FBDA61 2.88%, #F76B1C 98.13%) !important;
     }
     .border-right-blue{
        background-image: linear-gradient(88.84deg, #6BE1BA 0%, #6E54EF 100%) !important;
     }
}
.card-title {
    font-weight: 700;
    font-size: 20px;
    color: #27849A;
  }
  .avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.card-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    text-align: right;
    color: #4F4F4F;
}
.f-12{
    font-size: 12px;
}
.f-14{
    font-size: 14px;
}
.f-16{
    font-size: 16px;
}
.mt-50{
    margin-top: 50px;
}
.mb-100{
    margin-bottom: 100px;
}
.pl-20{
    padding-left: 20px;
}
   .gradient-text{
    background: linear-gradient(180deg, #105363 0%, #27849A 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   }
   .pointer{
    cursor: pointer;
   }


