@charset "UTF-8";

.icon-heart:before { content: '\23'; } /* '#' */
.icon-tag:before { content: '\24'; } /* '$' */
.icon-win8:before { content: '\25'; } /* '%' */
.icon-cancel-circled:before { content: '\26'; } /* '&' */
.icon-linux:before { content: '\27'; } /* ''' */
.icon-android:before { content: '\28'; } /* '(' */
.icon-mail-alt:before { content: '\29'; } /* ')' */
.icon-cancel:before { content: '\2a'; } /* '*' */
.icon-cancel-circled2:before { content: '\2b'; } /* '+' */
.icon-user-times:before { content: '\2c'; } /* ',' */
.icon-user-plus:before { content: '\2d'; } /* '-' */
.icon-user:before { content: '\2e'; } /* '.' */
.icon-male:before { content: '\2f'; } /* '/' */
.icon-users:before { content: '\30'; } /* '0' */
.icon-plus:before { content: '\31'; } /* '1' */
.icon-eye-off:before { content: '\32'; } /* '2' */
.icon-eye:before { content: '\33'; } /* '3' */
.icon-lock:before { content: '\34'; } /* '4' */
.icon-glass:before { content: '\39'; } /* '9' */
.icon-female:before { content: '\3a'; } /* ':' */
.icon-phone:before { content: '\3b'; } /* ';' */
.icon-mail:before { content: '\3c'; } /* '<' */
.icon-angle-right:before { content: '\3d'; } /* '=' */
.icon-child:before { content: '\3e'; } /* '>' */
.icon-angle-up:before { content: '\3f'; } /* '?' */
.icon-angle-down:before { content: '\40'; } /* '@' */
.icon-appstore:before { content: '\41'; } /* 'A' */
.icon-angle-left:before { content: '\42'; } /* 'B' */
.icon-key:before { content: '\43'; } /* 'C' */
.icon-user-pair:before { content: '\44'; } /* 'D' */
.icon-user-1:before { content: '\45'; } /* 'E' */
.icon-user-add:before { content: '\46'; } /* 'F' */
.icon-users-1:before { content: '\47'; } /* 'G' */
.icon-user-2:before { content: '\48'; } /* 'H' */
.icon-users-outline:before { content: '\49'; } /* 'I' */
.icon-user-3:before { content: '\4a'; } /* 'J' */
.icon-user-outline:before { content: '\4b'; } /* 'K' */
.icon-user-delete-outline:before { content: '\4c'; } /* 'L' */
.icon-user-delete:before { content: '\4d'; } /* 'M' */
.icon-google:before { content: '\4e'; } /* 'N' */
.icon-ok:before { content: '\4f'; } /* 'O' */
.icon-tags-1:before { content: '\50'; } /* 'P' */
.icon-search-1:before { content: '\51'; } /* 'Q' */
.icon-right-dir:before { content: '\52'; } /* 'R' */
.icon-left-dir:before { content: '\53'; } /* 'S' */
.icon-up-dir:before { content: '\54'; } /* 'T' */
.icon-down-dir:before { content: '\55'; } /* 'U' */
.icon-whatsapp:before { content: '\56'; } /* 'V' */
.icon-instagram:before { content: '\57'; } /* 'W' */
.icon-telegram:before { content: '\58'; } /* 'X' */
.icon-print:before { content: '\59'; } /* 'Y' */
.icon-calendar:before { content: '\5a'; } /* 'Z' */
.icon-balance-scale:before { content: '\5b'; } /* '[' */
.icon-calendar-empty:before { content: '\5c'; } /* '\' */
.icon-camera-outline:before { content: '\e037'; } /* '' */
.icon-user-add-outline:before { content: '\e800'; } /* '' */
.icon-users-2:before { content: '\e801'; } /* '' */
.icon-user-add-1:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-pencil-1:before { content: '\e804'; } /* '' */
.icon-twitter-bird-1:before { content: '\e805'; } /* '' */
.icon-facebook-rect-1:before { content: '\e806'; } /* '' */
.icon-heart-1:before { content: '\e807'; } /* '' */
.icon-tag-1:before { content: '\e808'; } /* '' */
.icon-win8-1:before { content: '\e809'; } /* '' */
.icon-cancel-circled-1:before { content: '\e80a'; } /* '' */
.icon-linux-1:before { content: '\e80b'; } /* '' */
.icon-cancel-1:before { content: '\e80c'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e80d'; } /* '' */
.icon-user-times-1:before { content: '\e80e'; } /* '' */
.icon-male-1:before { content: '\e80f'; } /* '' */
.icon-users-3:before { content: '\e810'; } /* '' */
.icon-plus-1:before { content: '\e811'; } /* '' */
.icon-eye-off-1:before { content: '\e812'; } /* '' */
.icon-eye-1:before { content: '\e813'; } /* '' */
.icon-lock-1:before { content: '\e814'; } /* '' */
.icon-lock-open-alt:before { content: '\e815'; } /* '' */
.icon-lock-open:before { content: '\e816'; } /* '' */
.icon-share:before { content: '\e817'; } /* '' */
.icon-share-squared:before { content: '\e818'; } /* '' */
.icon-user-4:before { content: '\e819'; } /* '' */
.icon-users-outline-1:before { content: '\e81a'; } /* '' */
.icon-user-5:before { content: '\e81b'; } /* '' */
.icon-user-outline-1:before { content: '\e81c'; } /* '' */
.icon-user-delete-outline-1:before { content: '\e81d'; } /* '' */
.icon-user-delete-1:before { content: '\e81e'; } /* '' */
.icon-google-1:before { content: '\e81f'; } /* '' */
.icon-ok-1:before { content: '\e820'; } /* '' */
.icon-tags:before { content: '\e821'; } /* '' */
.icon-search:before { content: '\e822'; } /* '' */
.icon-android-1:before { content: '\e823'; } /* '' */
.icon-user-add-2:before { content: '\e824'; } /* '' */
.icon-users-4:before { content: '\e825'; } /* '' */
.icon-user-add-3:before { content: '\e826'; } /* '' */
.icon-glass-1:before { content: '\e827'; } /* '' */
.icon-female-1:before { content: '\e828'; } /* '' */
.icon-phone-1:before { content: '\e829'; } /* '' */
.icon-mail-1:before { content: '\e82a'; } /* '' */
.icon-angle-right-1:before { content: '\e82b'; } /* '' */
.icon-child-1:before { content: '\e82c'; } /* '' */
.icon-angle-up-1:before { content: '\e82d'; } /* '' */
.icon-angle-down-1:before { content: '\e82e'; } /* '' */
.icon-appstore-1:before { content: '\e82f'; } /* '' */
.icon-angle-left-1:before { content: '\e830'; } /* '' */
.icon-key-1:before { content: '\e831'; } /* '' */
.icon-user-pair-1:before { content: '\e832'; } /* '' */
.icon-user-6:before { content: '\e833'; } /* '' */
.icon-right-dir-1:before { content: '\e834'; } /* '' */
.icon-left-dir-1:before { content: '\e835'; } /* '' */
.icon-up-dir-1:before { content: '\e836'; } /* '' */
.icon-down-dir-1:before { content: '\e837'; } /* '' */
.icon-whatsapp-1:before { content: '\e838'; } /* '' */
.icon-instagram-1:before { content: '\e839'; } /* '' */
.icon-telegram-1:before { content: '\e83a'; } /* '' */
.icon-print-1:before { content: '\e83b'; } /* '' */
.icon-calendar-1:before { content: '\e83c'; } /* '' */
.icon-balance-scale-1:before { content: '\e83d'; } /* '' */
.icon-calendar-empty-1:before { content: '\e83e'; } /* '' */
.icon-user-add-outline-1:before { content: '\e83f'; } /* '' */
.icon-users-5:before { content: '\e840'; } /* '' */
.icon-comment:before { content: '\e841'; } /* '' */
.icon-comment-1:before { content: '\e842'; } /* '' */
.icon-comment-alt2:before { content: '\e843'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e844'; } /* '' */
.icon-comment-2:before { content: '\e845'; } /* '' */
.icon-comment-3:before { content: '\e846'; } /* '' */
.icon-user-7:before { content: '\e847'; } /* '' */
.icon-user-8:before { content: '\e848'; } /* '' */
.icon-user-9:before { content: '\e849'; } /* '' */
.icon-user-10:before { content: '\e84a'; } /* '' */
.icon-spin6:before { content: '\e84b'; } /* '' */
.icon-bookmark-empty:before { content: '\e84c'; } /* '' */
.icon-bookmark:before { content: '\e84d'; } /* '' */
.icon-heart-empty:before { content: '\e84e'; } /* '' */
.icon-download:before { content: '\e84f'; } /* '' */
.icon-download-outline:before { content: '\e850'; } /* '' */
.icon-download-1:before { content: '\e851'; } /* '' */
.icon-edit:before { content: '\e852'; } /* '' */
.icon-calendar-2:before { content: '\e853'; } /* '' */
.icon-logout:before { content: '\e854'; } /* '' */
.icon-logout-2:before { content: '\e855'; } /* '' */
.icon-attention:before { content: '\e856'; } /* '' */
.icon-attention-1:before { content: '\e857'; } /* '' */
.icon-warning-empty:before { content: '\e858'; } /* '' */
.icon-attention-2:before { content: '\e859'; } /* '' */
.icon-camera:before { content: '\e85a'; } /* '' */
.icon-camera-1:before { content: '\e85b'; } /* '' */
.icon-camera-3:before { content: '\e85c'; } /* '' */
.icon-mail-alt-1:before { content: '\e85d'; } /* '' */
.icon-user-plus-1:before { content: '\e85e'; } /* '' */
.icon-user-11:before { content: '\e85f'; } /* '' */
.icon-pencil-4:before { content: '\eb47'; } /* '' */
.icon-twitter-bird:before { content: '\eb48'; } /* '' */
.icon-facebook-rect:before { content: '\eb49'; } /* '' */
.icon-share-squared-1:before { content: '\eb4a'; } /* '' */
.icon-share-3:before { content: '\eb4b'; } /* '' */
.icon-lock-open-4:before { content: '\eb4c'; } /* '' */
.icon-lock-open-alt-1:before { content: '\eb4d'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-calendar-empty-2:before { content: '\f133'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-camera-2:before { content: '\f4f7'; } /* '' */
.icon-floppy:before { content: '💾'; } /* '\1f4be' */
